h1{
    text-align: left;
    color: #359;  
    background-color: antiquewhite;
}
hr{
    color: white;
}

img{
    border-style: solid;
    border-color: purple;
    border-width: 5px;
}

div{
    text-align: center;
}

.main-content{
    text-align: left;
}

.menu{
    text-align: left;
}

a:link{
    color: purple;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: red;
    background-color: transparent;
    text-decoration: none;
}
a:active{
    color: #359;
}